## Description
This a collection of python notes created for practice

### Sources and References:
1. w3schools
2. IBM Course

# Data Types

|Data|Type|Description|
|---|---|---|
|11|int|Integers can be negative or positive|
|21.213|float|Floats are integers with decimals|
|Hello Python 101|string|Strings are combinations of texts and numbers|
|'True'(1) or 'False'(0)|bool|Booleans are logical data types which returns True or Flase (1 or 0)|

To get the type of a data we put:

In [ ]:

print("Data type of 11 is: ", type(11))
print("Data type of 21.213 is: ", type(21.213))
print("Data type of 'Hello Python 101' is: ", type("Hello Python 101"))
print("Data type of True is: ", type(True))
# Note that Python is case-sensitive and 'true' is not the same as 'True'
# This will result to an error
print("Data type of true is: ", type(true))

Data type of 11 is:  <class 'int'>
Data type of 21.213 is:  <class 'float'>
Data type of 'Hello Python 101' is:  <class 'str'>
Data type of True is:  <class 'bool'>

NameError: name 'true' is not defined

### Type Casting
We can change the data type by the following:

|code|Original|Data Type|New|Data Type|
|---|---|---|---|---|
|```float(2)```|2|int|2.0|float|
|```int(1.1)```|1.1|float|1|int|
|```int('1')```|1|string|1|int|
|```int('A')```|'A'|string|ERROR|n/a|
|```str(1)```|1|int|'1'|string|
|```str(4.5)```|4.5|float|'4.5'|str|
|```bool(0)```|0|int|False|bool
|```bool('1')```|'1'|str|True|bool|

- Be careful when changing data types because it might omit parts of the data like that of 1.1 from the example above
- When converting a string composed of a letter to an integer, it will produce an error

### Operations with Different Data Types

In [18]:
# Division of two integers results to a float
print(5 / 2)
type(5 / 2)

2.5

float

In [17]:
# Double slashes (//) can be used to perform floor division
# This returns the integer part of the quotient discarding the fractional part
# Double slash of two integers results to an integer
print(5 // 2)
type(5 // 2)

2

int