## Description
This a collection of python notes created for practice

### Sources and References:
1. w3schools
2. IBM Course

# Data Types

|Data|Type|Description|
|---|---|---|
|11|int|Integers can be negative or positive|
|21.213|float|Floats are real numbers and it includes integers|
|Hello Python 101|string|Strings are combinations of texts and numbers|
|'True'(1) or 'False'(0)|bool|Booleans are logical data types which returns True or Flase (1 or 0)|

To get the type of a data we put:

In [10]:
print("Data type of 11 is", type(11), ".\n")
print("Data type of 21.213 is", type(21.213), ".\n")
print("Data type of 'Hello Python 101' is", type("Hello Python 101"), ".\n")

Data type of 11 is <class 'int'> .

Data type of 21.213 is <class 'float'> .

Data type of 'Hello Python 101' is <class 'str'> .

### Type Casting
We can change the data type by the following:

|code|Original|Data Type|New|Data Type|
|---|---|---|---|---|
|```float(2)```|2|int|2.0|float|
|```int(1.1)```|1.1|float|1|int|
|```int('1')```|1|string|1|int|
|```int('A')```|'A'|string|ERROR|n/a|
|```str(1)```|1|int|'1'|string|
|```str(4.5)```|4.5|float|'4.5'|str|

- Be careful when changing data types because it might omit parts of the data like that of 1.1 from the example above
- When converting a string composed of a letter to an integer, it will produce an error